body {
    font-family: "Gill Sans",
        sans-serif;
}

h1 {
    text-align: center;
    color: #4c3062;
}

.cityMunich {
    text-decoration: none;
    color: #4c3062;
}

.cityKyiv {
    text-decoration: none;
    color: #4c3062;
}

.cityToronto {
    text-decoration: none;
    color: #4c3062;
}

.mainBody {
    padding: 20px;
    border: 1px solid #dadde1;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    color: #878787;
    font-family: Cerebri-Sans,
        Helvetica,
        Arial,
        sans-serif;
}

.search-line {
    padding: 4px;

}

.currentCity {
    color: #4c3062;
    font-size: 38px;
    font-weight: 700;
}

.description {
    text-transform: capitalize;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #4c3062;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: #4c3062;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.Fahrenheit {
    text-decoration: none;
}

.Celsius {
    text-decoration: none;
}